body {
  background-color: #395923;
  color: #F2C3A7;
  padding-bottom: 25%;
}

legend {
    background-color: #000;
    color: #F2C3A7;
    padding: 3px 6px;
    margin-left: 10px;
    width: 250px;
}

fieldset {
  width: 300px;
  border: 2px solid black;
  background-color: #D97236;
  color: #080D05;
}

button {
  background-color: #F2C3A7;
  color: #080D05;
  margin-top: 15px;
}

.jumbotron {
  background-color: #395923;
}

.input {
  margin-left: 10px;
  margin-bottom: 5px;
}

.output {
  display: none;
  width: 300px;
  margin-top: 15px;
  font-size: 24px;
  border: 2px solid black;
  color: #080D05;
  background-color: #D97236;
}

.userInfo {
  font-size: 18px;
}

.customerInfo {
  margin-top: 100px;
}

.orderConfirmed {
  display: none;
  margin-top: 25px;
  font-size: 18px;
  width: 600px;
}

.orderLegend {
  text-align: center;
}

#pizzaImg {
  display: flex;
  margin: 0 auto;
  height: 600px;
}

#header {
  text-align: center;
  color: #F2C3A7;
  font-family: 'Playfair Display', serif
}

.message {
  margin-left: 10px;
  font-weight: bold;
}

#redo {
  display: none;
}

#userName {
  width: 250px;
  margin-left: 10px;
}

#userNumber {
  width: 250px;
  margin-left: 10px;
}

#name {
  margin-left: 10px;
}

#confirmOrder {
  display: none;
}
